﻿@model AspNetCoreDemo.Data.Models.Beer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>BeerTag Beer Details</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div>
            <h3>
                <a href="/" class="nav">Home</a>
                | <a href="/beers" class="nav">Beers</a>
                | <a href="/home/about" class="nav">About</a>
            </h3>
        </div>
    </header>

    <div class="body-content">
        <h2>@this.Model.Name Details</h2>

        <div>
            <ul>
                <li class="margin12">Alc%: @this.Model.Abv</li>
                <li class="margin12">Brewery: @this.Model.Brewery.Name</li>
            </ul>
        </div>

        <div>
            <a href="/beers" class="nav">Back</a>
        </div>
    </div>

    <footer>
        <div>
            <p>
                &copy; @DateTime.Now.Year - BeerTag - <a href="/home/about">About</a>
            </p>
        </div>
    </footer>
</body>
</html>