﻿@model IEnumerable<AspNetCoreDemo.Data.Models.Beer>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>BeerTag All Beers</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div>
            <h3>
                <a href="/" class="nav">Home</a>
                | <a href="/beers" class="nav">Beers</a>
                | <a href="/home/about" class="nav">About</a>
            </h3>
        </div>
    </header>

    <div class="body-content">
        <h2>All Beers</h2>

        <div class="table">
            <div class="header">
                <div class="header-cell">Name</div>
                <div class="header-cell">ABV</div>
                <div class="header-cell">Brewery</div>
                <div class="header-cell">Actions</div>
            </div>

            @{
                foreach (var beer in this.Model)
                {
                    <div class="row">
                        <div class="cell">@beer.Name</div>
                        <div class="cell">@beer.Abv</div>
                        <div class="cell">@beer.Brewery.Name</div>
                        <div class="cell">
                            <a href="@($"/beers/details/{beer.Id}")" class="nav">Details</a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>

    <footer>
        <div>
            <p>
                &copy; @DateTime.Now.Year - BeerTag - <a href="/home/about">About</a>
            </p>
        </div>
    </footer>
</body>
</html>