﻿@{ ViewData["Title"] = "Register"; }
@model AspNetCoreDemo.Web.Models.RegisterViewModel

<h2>Register</h2>

<form asp-action="Register">
    <div>
        <label asp-for="Username" class="form-label"></label>
        <br />
        <input asp-for="Username" class="form-input" />
        <span asp-validation-for="Username" class="form-error"></span>
    </div>
    <div>
        <label asp-for="Password" class="form-label"></label>
        <br />
        <input asp-for="Password" type="password" class="form-input" />
        <span asp-validation-for="Password" class="form-error"></span>
    </div>
    <div>
        <label asp-for="ConfirmPassword" class="form-label"></label>
        <br />
        <input asp-for="ConfirmPassword" type="password" class="form-input" />
        <span asp-validation-for="ConfirmPassword" class="form-error"></span>
    </div>
    <div>
        <input type="submit" value="Register" class="btn-primary" />
        | <a asp-action="Login" class="nav">Login</a>
    </div>
</form>