﻿@{ ViewData["Title"] = "Beer Details"; }
@model AspNetCoreDemo.Data.Models.Beer

<h2>@this.Model.Name Details</h2>

<div>
    <ul>
        <li class="margin12">Alc%: @this.Model.Abv</li>
        <li class="margin12">Brewery: @this.Model.Brewery.Name</li>
    </ul>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="nav">Edit</a>
    | <a asp-action="Index" class="nav">Back</a>
</div>