﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>BeerTag Error</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div>
            <h3>
                <a href="/" class="nav">Home</a>
                | <a href="/beers" class="nav">Beers</a>
                | <a href="/home/about" class="nav">About</a>
            </h3>
        </div>
    </header>

    <div class="body-content">
        <h2>Error</h2>
        <p>
            Status Code: @this.Context.Response.StatusCode<br />
            Message: @this.ViewData["error"]
        </p>
    </div>

    <footer>
        <div>
            <p>
                &copy; @DateTime.Now.Year - BeerTag - <a href="/home/about">About</a>
            </p>
        </div>
    </footer>
</body>
</html>
