﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Beers</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="stylesheet" />
</head>
<body>
    <header>
        <i class="fas fa-beer"></i>
        <span>Beers</span>
        <div>
            <h3>
                <a href="/" class="nav">Home</a> 
                | <a href="/beers" class="nav">Beers</a>
                | <a href="/home/about" class="nav">About</a>
            </h3>
        </div>
    </header>

    <div class="body-content">
        <h2>About the BeerTag Application</h2>

        <p>Web application, social network for sharing experience about drinking beer, mainly craft ones.</p>
    </div>

    <footer>
        <div>
            <p>
                &copy; @DateTime.Now.Year - BeerTag - <a href="/home/about">About</a>
            </p>
        </div>
    </footer>
</body>
</html>
