﻿<h1>Beers</h1>

<h4>Beers</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Get">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cities" class="control-label"></label>
                <input asp-for="Cities" class="form-control" />
                <span asp-validation-for="Cities" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Cities" /> @Html.DisplayNameFor(Views_Beers_Index => Views_Beers_Index)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Get" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}