﻿@model AspNetCoreDemo.Data.Models.Beer
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>BeerTag Beer Details</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div>
            <h3>
                <a asp-controller="Home" asp-action="Index" class="nav">Home</a>
                | <a asp-controller="Beers" asp-action="Index" class="nav">Beers</a>
                | <a asp-controller="Home" asp-action="About" class="nav">About</a>
            </h3>
        </div>
    </header>

    <div class="body-content">
        <h2>@this.Model.Name Details</h2>

        <div>
            <ul>
                <li class="margin12">Alc%: @this.Model.Abv</li>
                <li class="margin12">Brewery: @this.Model.Brewery.Name</li>
            </ul>
        </div>

        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id" class="nav">Edit</a>
            | <a asp-action="Index" class="nav">Back</a>
        </div>
    </div>

    <footer>
        <div>
            <p>
                &copy; @DateTime.Now.Year - BeerTag - <a asp-controller="Home" asp-action="About">About</a>
            </p>
        </div>
    </footer>
</body>
</html>