﻿@model AspNetCoreDemo.Web.Models.BeerViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>BeerTag Edit Beer</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div>
            <h3>
                <a asp-controller="Home" asp-action="Index" class="nav">Home</a>
                | <a asp-controller="Beers" asp-action="Index" class="nav">Beers</a>
                | <a asp-controller="Home" asp-action="About" class="nav">About</a>
            </h3>
        </div>
    </header>

    <div class="body-content">
        <h2>Edit @this.Model.Name</h2>

        <form asp-action="Edit">
            <div>
                <label asp-for="Name" class="form-label"></label>
                <br />
                <input asp-for="Name" class="form-input" />
                <span asp-validation-for="Name" class="form-error"></span>
            </div>
            <div>
                <label asp-for="Abv" class="form-label"></label>
                <br />
                <input asp-for="Abv" class="form-input" />
                <span asp-validation-for="Abv" class="form-error"></span>
            </div>
            <div>
                <label class="form-label">Brewery</label>
                <br />
                <select asp-for="BreweryId" asp-items="Model.Breweries" class="form-input"></select>
                <span asp-validation-for="BreweryId"></span>
            </div>
            <div>
                <input type="submit" value="Save" class="btn-primary" />
                | <a asp-action="Index" class="nav">Back</a>
            </div>
        </form>
    </div>

    <footer>
        <div>
            <p>
                &copy; @DateTime.Now.Year - BeerTag - <a asp-controller="Home" asp-action="About">About</a>
            </p>
        </div>
    </footer>
</body>
</html>