﻿@model IEnumerable<AspNetCoreDemo.Data.Models.Beer>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>BeerTag All Beers</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div>
            <h3>
                <a asp-controller="Home" asp-action="Index" class="nav">Home</a>
                | <a asp-controller="Beers" asp-action="Index" class="nav">Beers</a>
                | <a asp-controller="Home" asp-action="About" class="nav">About</a>
            </h3>
        </div>
    </header>

    <div class="body-content">
        <h2>All Beers</h2>

        <p>
            <a asp-action="Create">Create New</a>
        </p>

        <div class="table">
            <div class="header">
                <div class="header-cell">Name</div>
                <div class="header-cell">ABV</div>
                <div class="header-cell">Brewery</div>
                <div class="header-cell">Actions</div>
            </div>

            @{
                foreach (var beer in this.Model)
                {
                    <div class="row">
                        <div class="cell">@beer.Name</div>
                        <div class="cell">@beer.Abv</div>
                        <div class="cell">@beer.Brewery.Name</div>
                        <div class="cell">
                            <a asp-action="Details" asp-route-id="@beer.Id" class="nav">Details</a>
                            | <a asp-action="Edit" asp-route-id="@beer.Id" class="nav">Edit</a>
                            | <a asp-action="Delete" asp-route-id="@beer.Id" class="nav">Delete</a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>

    <footer>
        <div>
            <p>
                &copy; @DateTime.Now.Year - BeerTag - <a asp-controller="Home" asp-action="About">About</a>
            </p>
        </div>
    </footer>
</body>
</html>