body {
  background-image: url("../images/background.png");
}

#beer-search-field {
  height: 50px;
}

.beerIcon > img {
  width: 50px;
  height: 50px;
}

table,
th,
td {
  border: 1px solid black;
}

table {
  width: 100%;
  text-align: center;
}

button {
  background-color: black;
  color: yellow;
  padding: 15px;
  border-radius: 10px;
}

button:hover {
  background-color: yellow;
  color: black;
}
