﻿@model AspNetCoreDemo.Web.Models.BeerViewModel

<form asp-action="@ViewData["Action"]">
    <div>
        <label asp-for="Name" class="form-label"></label>
        <br />
        <input asp-for="Name" class="form-input" />
        <span asp-validation-for="Name" class="form-error"></span>
    </div>
    <div>
        <label asp-for="Abv" class="form-label"></label>
        <br />
        <input asp-for="Abv" class="form-input" />
        <span asp-validation-for="Abv" class="form-error"></span>
    </div>
    <div>
        <label class="form-label">Brewery</label>
        <br />
        <select asp-for="BreweryId" asp-items="Model.Breweries" class="form-input"></select>
        <span asp-validation-for="BreweryId"></span>
    </div>
    <div>
        <input type="submit" value="@ViewData["ButtonValue"]" class="btn-primary" />
        | <a asp-action="Index" class="nav">Back</a>
    </div>
</form>