﻿@{
    ViewData["Title"] = "Create Beer";
    ViewData["Action"] = "Create";
    ViewData["ButtonValue"] = "Create";
}

@model AspNetCoreDemo.Web.Models.BeerViewModel

<h2>Create Beer</h2>

<partial name="_BeerForm.cshtml" />