﻿@{ ViewData["Title"] = "Delete Beer"; }
@model AspNetCoreDemo.Data.Models.Beer

<h2>Delete @this.Model.Name</h2>

<div>
    <h3>Are you sure you want to delete @this.Model.Name?</h3>
    <ul>
        <li class="margin12">Alc%: @this.Model.Abv</li>
        <li class="margin12">Brewery: @this.Model.Brewery.Name</li>
    </ul>
</div>

<form asp-action="Delete">
    <input type="submit" value="Delete" class="btn-danger" />
    | <a asp-action="Index" class="nav">Back</a>
</form>