﻿@{
    ViewData["Title"] = "Edit Beer";
    ViewData["Action"] = "Edit";
    ViewData["ButtonValue"] = "Save";
}

@model AspNetCoreDemo.Web.Models.BeerViewModel

<h2>Edit @this.Model.Name</h2>

<partial name="_BeerForm.cshtml" />