﻿@{ ViewData["Title"] = "All Beers"; }
@model IEnumerable<AspNetCoreDemo.Data.Models.Beer>

<h2>All Beers</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="table">
    <div class="header">
        <div class="header-cell">Name</div>
        <div class="header-cell">ABV</div>
        <div class="header-cell">Brewery</div>
        <div class="header-cell">Actions</div>
    </div>

    @{
        foreach (var beer in this.Model)
        {
            <div class="row">
                <div class="cell">@beer.Name</div>
                <div class="cell">@beer.Abv</div>
                <div class="cell">@beer.Brewery.Name</div>
                <div class="cell">
                    <a asp-action="Details" asp-route-id="@beer.Id" class="nav">Details</a>
                    | <a asp-action="Edit" asp-route-id="@beer.Id" class="nav">Edit</a>
                    | <a asp-action="Delete" asp-route-id="@beer.Id" class="nav">Delete</a>
                </div>
            </div>
        }
    }
</div>