﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>BeerTag About</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div>
            <h3>
                <a asp-controller="Home" asp-action="Index" class="nav">Home</a>
                | <a asp-controller="Beers" asp-action="Index" class="nav">Beers</a>
                | <a asp-controller="Home" asp-action="About" class="nav">About</a>
            </h3>
        </div>
    </header>

    <div class="body-content">
        <h2>About the BeerTag Application</h2>

        <p>Web application, social network for sharing experience about drinking beer, mainly craft ones.</p>
    </div>

    <footer>
        <div>
            <p>
                &copy; @DateTime.Now.Year - BeerTag - <a asp-controller="Home" asp-action="About">About</a>
            </p>
        </div>
    </footer>
</body>
</html>
